<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xe.demo4.myapplication4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A1Activity" />
        <activity android:name=".A2Activity" />
        <activity
            android:name=".A3Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".A4Activity"
            android:launchMode="singleTop" />
        <activity android:name=".SingleTaskActivity" />
        <activity android:name=".A5Activity" />
        <activity
            android:name=".A6Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".A7Activity"
            android:launchMode="singleTask"
            android:taskAffinity="com.xe.demo4.myapplication4_a7_activity" />
        <activity android:name=".A8Activity"
            android:launchMode="singleInstance"/>
        <activity android:name=".A9Activity"
            android:launchMode="singleInstance"/>
        <activity android:name=".A10Activity"></activity>
    </application>

</manifest>